<form [formGroup]="datesRangeForm" class="dates-range-form">
    <mat-form-field>
        <input matInput [matDatepicker]="filedatefrom" placeholder="Files from" formControlName="filedatefrom">
        <mat-datepicker-toggle matSuffix [for]="filedatefrom"></mat-datepicker-toggle>
        <mat-datepicker #filedatefrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="filedateto" placeholder="to" formControlName="filedateto"
               [min]="datesRangeForm.controls['filedatefrom'].value">
        <mat-datepicker-toggle matSuffix [for]="filedateto"></mat-datepicker-toggle>
        <mat-datepicker #filedateto></mat-datepicker>
    </mat-form-field>

    <button mat-icon-button color="primary" type="submit" [disabled]="datesRangeForm.invalid" (click)="filter()">
        <mat-icon aria-label="Find files per dates range" class="filter-icon">check_circle_outline</mat-icon>
    </button>

    <button mat-icon-button color="warn" type="button" [disabled]="datesRangeForm.invalid" (click)="clear()">
        <mat-icon aria-label="Find files per dates range" class="filter-icon">remove_circle_outline
        </mat-icon>
    </button>
</form>
