<form [formGroup]="datesRangeForm" class="dates-range-form">
    <mat-form-field>
        <input matInput [matDatepicker]="filedatefrom" placeholder="{{'shared.components.datesRange.from' | translate}}" formControlName="filedatefrom" required>
        <mat-datepicker-toggle matSuffix [for]="filedatefrom"></mat-datepicker-toggle>
        <mat-datepicker #filedatefrom></mat-datepicker>
        <mat-error *ngIf="datesRangeForm.controls['filedatefrom'].hasError('required')">{{errorMsg}}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="filedateto" placeholder="{{'shared.components.datesRange.to' | translate}}" formControlName="filedateto"
               [min]="datesRangeForm.controls['filedatefrom'].value" required>
        <mat-datepicker-toggle matSuffix [for]="filedateto"></mat-datepicker-toggle>
        <mat-datepicker #filedateto></mat-datepicker>
        <mat-error *ngIf="datesRangeForm.controls['filedateto'].hasError('required')">{{errorMsg}}</mat-error>
    </mat-form-field>

    <button class="filter-btn" mat-icon-button color="primary" type="submit" [disabled]="datesRangeForm.invalid" (click)="filter()">
        <mat-icon aria-label="Find files per dates range">check_circle_outline</mat-icon>
    </button>

    <button mat-icon-button color="warn" type="button" [disabled]="datesRangeForm.invalid" (click)="clear()">
        <mat-icon aria-label="Find files per dates range">remove_circle_outline
        </mat-icon>
    </button>
</form>
