<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-logo">
      <mat-icon aria-label="Warning" class="info-warning">warning</mat-icon>
    </div>
    <mat-card-title>Warning</mat-card-title>
    <mat-card-subtitle>Service is under construction!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Content is temporarily unavailable...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div>
      <span class="example-spacer"></span>
      <button mat-button [routerLink]="['/dashboard']" class="btn-nav"> Back to the Dashboard >>> </button>
    </div>
  </mat-card-actions>
</mat-card>
