<input
        style="display: none"
        type="file" (change)="onFileChanged($event)"
        #fileInput>
<mat-card-header>
    <div mat-card-avatar class="example-header-logo">
        <mat-icon aria-label="File upload" color="primary" class="upload">cloud_upload</mat-icon>
    </div>
    <mat-card-title>Upload Files</mat-card-title>
    <mat-card-subtitle>Supported file extension: *.XLS only</mat-card-subtitle>
</mat-card-header>
<mat-card-actions>
    <button mat-raised-button color="primary" class="add-files-btn" (click)="fileInput.click()">Select File</button>
    <button mat-button class="add-files-btn" mat-dialog-close>Cancel</button>
    <button mat-raised-button *ngIf="selectedFile" (click)="onUpload()">Upload!</button>
</mat-card-actions>
<mat-card-content>
    <div *ngIf="selectedFile">
        <mat-list>
            <mat-list-item>
                <h4 mat-line>{{selectedFile.name}}</h4>
                <mat-progress-bar *ngIf="percentDone" mode="determinate"
                                  [value]="percentDone"></mat-progress-bar>
            </mat-list-item>
        </mat-list>
    </div>
</mat-card-content>


<!--<input type="file" #file style="display: none" (change)="onFilesAdded()" multiple/>-->

<!--
<mat-card-header>
    <div mat-card-avatar class="example-header-logo">
        <mat-icon aria-label="File upload" color="primary" class="upload">cloud_upload</mat-icon>
    </div>
    <mat-card-title>Upload Files</mat-card-title>
    <mat-card-subtitle>Upload Files!</mat-card-subtitle>
</mat-card-header>
<mat-card-actions>
    <button [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" class="add-files-btn"
            (click)="addFiles()">
        Add Files
    </button>
    <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!canBeClosed"
            (click)="closeDialog()">{{primaryButtonText}}</button>
</mat-card-actions>
<mat-card-content>
    <mat-list>
        <mat-list-item *ngFor="let file of files">

            <h4 mat-line>{{file.name}}</h4>

            <mat-progress-bar *ngIf="progress" mode="determinate"
                              [value]="progress[file.name].progress | async"></mat-progress-bar>

        </mat-list-item>
    </mat-list>
</mat-card-content>
-->
