.table-chart {
  font-size: 44px;
}

.example-card {
  margin: 3%;
}

.example-spacer {
  flex: 1 1 auto;
}

.grid-container {
  margin: 3%;
  height: 66%;
}

// used to solve mobile view
@media (max-width : 500px) {
  .grid-container {
    height: 500px;
  }
}

.divider-container {
  margin: 3%;
}
