<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-logo">
            <mat-icon aria-label="Administrator's configuration board" color="primary" class="admin-icon">usb</mat-icon>
        </div>
        <mat-card-title>{{ 'admin.title' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'admin.subTitle' | translate }}</mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-accordion>
    <mat-expansion-panel class="panel" [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'admin.page.usersCreate.title' | translate }}
            </mat-panel-title>
            <mat-panel-description>
                {{ 'admin.page.usersCreate.subTitle' | translate }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="registerForm">
            <mat-form-field class="field">
                <input matInput type="text" placeholder="{{ 'admin.page.usersCreate.form.name' | translate }}"
                       formControlName="name" required>
                <mat-error *ngIf="registerForm.controls['name'].invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="field">
                <input matInput type="email" placeholder="{{ 'admin.page.usersCreate.form.email' | translate }}"
                       formControlName="email" required>
                <mat-error *ngIf="registerForm.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="field">
                <input matInput type="password" placeholder="{{ 'admin.page.usersCreate.form.password' | translate }}"
                       formControlName="password" required>
                <mat-error *ngIf="registerForm.controls['password'].invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="field">
                <mat-select placeholder="{{ 'admin.page.usersCreate.form.credential' | translate }}"
                            formControlName="type">
                    <mat-option *ngFor="let role of roles" [value]="role.value">
                        {{role.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>

        <mat-action-row>
            <button mat-stroked-button class="btn" color="warn" (click)="refreshForm()">
                {{ 'admin.page.usersCreate.actions.cancel' | translate }}
            </button>
            <button mat-stroked-button class="btn" color="primary" type="submit" (click)="addUser()"
                    [disabled]="registerForm.invalid">
                {{ 'admin.page.usersCreate.actions.save' | translate }}
            </button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)"
                         class="panel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'admin.page.users.title' | translate }}
            </mat-panel-title>
            <mat-panel-description>
                {{ 'admin.page.users.subTitle' | translate }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-users></app-users>

    </mat-expansion-panel>
</mat-accordion>


